<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<div th:switch="${users}">

    <h2 th:case="null">No users found</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Nickname</th>
                <th>Password</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.nickname}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.role.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>