<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<div th:switch="${users}" style="margin: 0 auto; width: max-content">

    <h2 th:case="null">No users found</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>No.</th>
                <th>Id</th>
                <th>Nickname</th>
                <th>Email</th>
                <th>Role</th>
                <th colspan="2">Control</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user, stat : ${users}">
                <td th:text="${stat.index + 1}"></td>
                <td th:text="${user.id}"></td>
                <td>
                    <a th:href="@{|/todos/all/users/${user.id}|}" th:text="${user.nickname}"></a>
                </td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.role.name}"></td>
                <td>
                    <a th:href="@{|/users/${user.id}/update|}">Edit</a>
                </td>
                <td>
                    <a th:href="@{|/users/${user.id}/delete|}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <form method="get" th:action="@{/users/create}">
        <input type="submit" value="Create new User">
    </form>
</div>

</body>
</html>